{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}

  {{ page.title }}
  
  
 

<table>
  <thead>
    <tr>
      <th colspan="3">Дата последнего обновления - {{ update_time }}</th>
    </tr>
    <tr>
      <th class="category" colspan="1">Имя</th>
      <th class="category" colspan="1">Выпито</th>
      <th class="category" colspan="1">Осталось</th>
    </tr>
  </thead>
  <tbody>

   {% for record in latest_records %}
    
      <tr>
        <td>{{ record.user_name }}</td>
        <td>{{ record.coffee_count }}</td>
        <td>{{ record.coffee_pool }}</td>
      </tr>
  
    {% endfor %}
    
  </tbody>
</table>
  


{% endblock content %}
